.version.index /* version checker */
{
	color: #0000E1;
	background-color: #3F1257;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 2153.650000000008px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -348px;
	padding-top: 411px;
}

#u73
{
	z-index: 135;
	height: 62px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: fixed;
	top: 0px;
}

#u73-bw
{
	z-index: 135;
}

#u285
{
	z-index: 134;
	width: 169px;
	height: 115px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 0px 0px 150px 150px ;
	-webkit-border-radius: 0px 0px 150px 150px ;
	-khtml-border-radius: 0px 0px 150px 150px ;
	border-radius: 0px 0px 150px 150px ;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -84px;
}

#u13105
{
	z-index: 160;
	width: 129px;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -64px;
}

#u13105_clip
{
	overflow: hidden;
	width: 129px;
	height: 118px;
}

#u13105_img
{
	margin-top: -11px;
}

#buttonu91
{
	z-index: 136;
	width: 124px;
	border-color: #787878;
	background-color: #C52727;
	padding-bottom: 7px;
	position: fixed;
	top: 14px;
	left: 50%;
	margin-left: -498px;
}

#buttonu91:hover
{
	margin: 0px 0px 0px -498px;
}

#buttonu91.ButtonSelected
{
	margin: 0px 0px 0px -498px;
}

#u92
{
	z-index: 138;
	height: 17px;
	width: 78px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 23px;
	background: url("../img/u92.png") no-repeat 0px 0px;
}

#buttonu91:hover #u92
{
	background: url("../img/u92-r.png") no-repeat 0px 0px;
}

#buttonu95
{
	z-index: 144;
	width: 124px;
	border-color: #787878;
	background-color: #FFFFFF;
	padding-bottom: 8px;
	position: fixed;
	top: 14px;
	left: 50%;
	margin-left: -360px;
}

#buttonu95:hover
{
	background-color: #C52727;
	margin: 0px 0px 0px -360px;
}

#u96
{
	z-index: 146;
	height: 17px;
	width: 65px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 31px;
	background: url("../img/u96.png") no-repeat 0px 0px;
}

#buttonu95:hover #u96
{
	background: url("../img/u96-r.png") no-repeat 0px 0px;
}

#buttonu97
{
	z-index: 152;
	width: 124px;
	border-color: #787878;
	background-color: #FFFFFF;
	padding-bottom: 8px;
	position: fixed;
	top: 14px;
	left: 50%;
	margin-left: -222px;
}

#buttonu97:hover
{
	background-color: #C52727;
	margin: 0px 0px 0px -222px;
}

#u98
{
	z-index: 154;
	height: 17px;
	width: 65px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 29px;
	background: url("../img/u98.png") no-repeat 0px 0px;
}

#buttonu97:hover #u98
{
	background: url("../img/u98-r.png") no-repeat 0px 0px;
}

#buttonu105
{
	z-index: 140;
	width: 128px;
	border-color: #787878;
	background-color: #FFFFFF;
	padding-bottom: 8px;
	position: fixed;
	top: 14px;
	left: 50%;
	margin-left: 97px;
}

#buttonu105:hover
{
	background-color: #C52727;
	margin: 0px 0px 0px 97px;
}

#u106
{
	z-index: 142;
	height: 17px;
	width: 123px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 2px;
	background: url("../img/u106.png") no-repeat 0px 0px;
}

#buttonu105:hover #u106
{
	background: url("../img/u106-r.png") no-repeat 0px 0px;
}

#buttonu101
{
	z-index: 148;
	width: 124px;
	border-color: #787878;
	background-color: #FFFFFF;
	padding-bottom: 8px;
	position: fixed;
	top: 14px;
	left: 50%;
	margin-left: 236px;
}

#buttonu101:hover
{
	background-color: #C52727;
	margin: 0px 0px 0px 236px;
}

#u102
{
	z-index: 150;
	height: 17px;
	width: 101px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 12px;
	background: url("../img/u102.png") no-repeat 0px 0px;
}

#buttonu101:hover #u102
{
	background: url("../img/u102-r.png") no-repeat 0px 0px;
}

#buttonu103
{
	z-index: 156;
	width: 124px;
	border-color: #787878;
	background-color: #FFFFFF;
	padding-bottom: 8px;
	position: fixed;
	top: 14px;
	left: 50%;
	margin-left: 374px;
}

#buttonu103:hover
{
	background-color: #C52727;
	margin: 0px 0px 0px 374px;
}

#u104
{
	z-index: 158;
	height: 17px;
	width: 94px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 14px;
	background: url("../img/u104.png") no-repeat 0px 0px;
}

#buttonu103:hover #u104
{
	background: url("../img/u104-r.png") no-repeat 0px 0px;
}

#u13351
{
	z-index: 5;
	width: 193px;
	background-color: transparent;
	position: fixed;
	top: 62px;
	left: 0px;
}

#u7331
{
	z-index: 2;
	height: 349px;
	border-color: #000000;
	background-color: #C52727;
	position: fixed;
	top: 62px;
}

#u7331-bw
{
	z-index: 2;
}

#u13358-6
{
	z-index: 8;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 155px;
	left: 50%;
	margin-left: -410px;
}

#u13339
{
	z-index: 3;
	width: 201px;
	background-color: transparent;
	position: fixed;
	top: 159px;
	right: 1px;
}

#u13357
{
	z-index: 7;
	width: 738px;
	height: 3px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: fixed;
	top: 359px;
	left: 50%;
	margin-left: -364px;
}

#u7583
{
	z-index: 133;
	height: 16px;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u7583-bw
{
	z-index: 133;
	height: 16px;
}

#u113
{
	z-index: 16;
	height: 85px;
	border-color: #000000;
	background-color: #C52727;
}

#u113-bw
{
	z-index: 16;
	height: 85px;
}

#u260
{
	z-index: 19;
	height: 1px;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u260-bw
{
	z-index: 19;
	margin-top: 43px;
	height: 1px;
}

#u259
{
	z-index: 90;
	width: 524px;
	border-color: #000000;
	background-color: #C52727;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 350px;
}

#u114-4
{
	z-index: 92;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 33px;
}

#pu113,#pu7341
{
	width: 0.01px;
	margin-left: -100px;
}

#u7341
{
	z-index: 14;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 986px;
}

#pu119
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 62px;
	margin-left: 101px;
}

#u119
{
	z-index: 20;
	width: 152px;
	border-color: #000000;
	background-color: #AFACAC;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 44px;
	position: relative;
}

#u193
{
	z-index: 70;
	width: 69px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 40px;
}

#u130-4
{
	z-index: 30;
	width: 69px;
	min-height: 17px;
	background-color: transparent;
	margin-left: 41px;
	margin-top: 18px;
	position: relative;
}

#u124
{
	z-index: 21;
	width: 152px;
	border-color: #000000;
	background-color: #AFACAC;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 52px;
	margin-top: 70px;
	position: relative;
}

#u211
{
	z-index: 72;
	width: 69px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 40px;
}

#u137-4
{
	z-index: 34;
	width: 114px;
	min-height: 17px;
	background-color: transparent;
	margin-left: 19px;
	margin-top: 27px;
	position: relative;
}

#pu120
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 62px;
	margin-left: 308px;
}

#u120
{
	z-index: 24;
	width: 152px;
	border-color: #000000;
	background-color: #AFACAC;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 44px;
	margin-left: 11px;
	position: relative;
}

#u120:hover
{
	background-color: #C52727;
	margin: 0px 0px 0px 11px;
}

#u199
{
	z-index: 82;
	width: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 48px;
}

#u131-4
{
	z-index: 38;
	width: 173px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	margin-top: 18px;
	position: relative;
}

#u125
{
	z-index: 25;
	width: 152px;
	border-color: #000000;
	background-color: #AFACAC;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 39px;
	margin-left: 11px;
	margin-top: 53px;
	position: relative;
}

#u125:hover
{
	background-color: #C52727;
	margin: 53px 0px 0px 11px;
}

#u214
{
	z-index: 80;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 64px;
}

#u138-4
{
	z-index: 42;
	width: 64px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	margin-left: 55px;
	margin-top: 27px;
	position: relative;
}

#pu121
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 62px;
	margin-left: 528px;
}

#u121
{
	z-index: 28;
	width: 152px;
	border-color: #000000;
	background-color: #AFACAC;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 44px;
	margin-left: 8px;
	position: relative;
}

#u121:hover
{
	background-color: #C52727;
	margin: 0px 0px 0px 8px;
}

#u202
{
	z-index: 84;
	width: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 53px;
}

#u133-4
{
	z-index: 46;
	width: 168px;
	min-height: 22px;
	background-color: transparent;
	text-align: center;
	margin-top: 18px;
	position: relative;
}

#u126
{
	z-index: 29;
	width: 152px;
	border-color: #000000;
	background-color: #AFACAC;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 39px;
	margin-left: 8px;
	margin-top: 65px;
	position: relative;
}

#u126:hover
{
	background-color: #C52727;
	margin: 65px 0px 0px 8px;
}

#u217
{
	z-index: 74;
	width: 47px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 51px;
}

#u139-4
{
	z-index: 50;
	width: 93px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	margin-left: 37px;
	margin-top: 26px;
	position: relative;
}

#pu122
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 62px;
	margin-left: 754px;
}

#u122
{
	z-index: 22;
	width: 152px;
	border-color: #000000;
	background-color: #AFACAC;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 44px;
	position: relative;
}

#u205
{
	z-index: 86;
	width: 58px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 46px;
}

#u134-4
{
	z-index: 54;
	width: 147px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	margin-left: 3px;
	margin-top: 18px;
	position: relative;
}

#u127
{
	z-index: 23;
	width: 152px;
	border-color: #000000;
	background-color: #AFACAC;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 51px;
	margin-top: 70px;
	position: relative;
}

#u220
{
	z-index: 76;
	width: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 51px;
}

#u140-4
{
	z-index: 58;
	width: 92px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	margin-left: 31px;
	margin-top: 27px;
	position: relative;
}

#pu123
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 62px;
	margin-left: 972px;
}

#u123
{
	z-index: 26;
	width: 152px;
	border-color: #000000;
	background-color: #AFACAC;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 44px;
	position: relative;
}

#u119:hover,#u122:hover,#u123:hover
{
	background-color: #C52727;
	margin: 0px;
}

#u208
{
	z-index: 88;
	width: 65px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 43px;
}

#u136-4
{
	z-index: 62;
	width: 148px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	margin-top: 18px;
	position: relative;
}

#u128
{
	z-index: 27;
	width: 152px;
	border-color: #000000;
	background-color: #AFACAC;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 52px;
	margin-top: 70px;
	position: relative;
}

#u124:hover,#u127:hover,#u128:hover
{
	background-color: #C52727;
	margin: 70px 0px 0px;
}

#u223
{
	z-index: 78;
	width: 61px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 45px;
}

#u141-4
{
	z-index: 66;
	width: 141px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	margin-left: 4px;
	margin-top: 27px;
	position: relative;
}

#u7341-bw
{
	z-index: 14;
	height: 522px;
}

#u7321
{
	z-index: 15;
	border-color: #000000;
	padding-bottom: 0px;
	background: #000000 url("../img/%d0%bf%d0%be%d0%b4%d1%81%d1%82%d0%b0%d0%b2%d0%ba%d0%b0-%d0%bf%d0%be%d0%b4-%d0%b4%d0%b8%d0%bf%d0%bb%d0%be%d0%bc%d1%8b.jpg") no-repeat center bottom;
	background-size: cover;
}

#u7321_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	position: relative;
	left: -100px;
	padding-top: 154px;
	padding-bottom: 254px;
}

#u146-4
{
	z-index: 100;
	display: block;
	vertical-align: top;
	left: 381px;
	position: relative;
}

#pu3709
{
	width: 0.01px;
	left: 127px;
	margin-top: 42px;
	position: relative;
}

#u3709
{
	z-index: 104;
	width: 297px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3704
{
	z-index: 105;
	width: 297px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3699
{
	z-index: 107;
	width: 297px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3712
{
	z-index: 109;
	width: 297px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 338px;
}

#u3713
{
	z-index: 110;
	width: 297px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3715
{
	z-index: 112;
	width: 297px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3719
{
	z-index: 114;
	width: 297px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 673px;
}

#u3722
{
	z-index: 115;
	width: 297px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3720
{
	z-index: 117;
	width: 297px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7321-bw
{
	z-index: 15;
	margin-top: 719px;
	height: 876px;
}

#u142
{
	z-index: 17;
	height: 211px;
	border-color: #000000;
	background-color: #C52727;
}

#u142-bw
{
	z-index: 17;
	margin-top: 584px;
	height: 211px;
}

#u116
{
	z-index: 18;
	height: 1px;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u116-bw
{
	z-index: 18;
	margin-top: 625px;
	height: 1px;
}

#u262
{
	z-index: 91;
	width: 435px;
	border-color: #000000;
	background-color: #C52727;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 600px;
	left: 394px;
}

#u143-4
{
	z-index: 96;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 42px;
}

#u3122
{
	z-index: 119;
	width: 270px;
	height: 360px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 970px;
	left: 139px;
	background: #FFFFFF url("../img/130057-u3122-fr.jpg") no-repeat center center;
	background-size: contain;
}

#u3129
{
	z-index: 120;
	width: 270px;
	height: 360px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 969px;
	left: 477px;
	background: #FFFFFF url("../img/img219-u3129-fr.jpg") no-repeat center center;
	background-size: contain;
}

#u3130
{
	z-index: 121;
	width: 270px;
	height: 360px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 970px;
	left: 812px;
	background: #FFFFFF url("../img/%d0%b4%d0%b5%d0%bb%d1%8c%d1%82%d0%b0%d0%bf%d1%80%d0%b8%d0%bd%d1%82-u3130-fr.jpg") no-repeat center center;
	background-size: contain;
}

#pamphletu12223
{
	z-index: 122;
	width: 0.01px;
	height: 166px;
	position: relative;
	margin-right: -10000px;
	margin-top: 654px;
	left: 86px;
}

#u12224
{
	position: absolute;
	width: 1055px;
	background-color: transparent;
}

#u12224popup
{
	z-index: 123;
}

#u12233
{
	z-index: 124;
	width: 1055px;
	height: 132px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../img/%d0%b1%d0%b5%d0%b7-%d0%b8%d0%bc%d0%b5%d0%bd%d0%b8-1.jpg") no-repeat center center;
	background-size: cover;
}

#u12225
{
	z-index: 125;
	width: 1055px;
	height: 132px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../img/%d0%b1%d0%b5%d0%b7-%d0%b8%d0%bc%d0%b5%d0%bd%d0%b8-2.jpg") no-repeat center center;
	background-size: cover;
}

#u12232
{
	z-index: 126;
	width: 1055px;
	height: 132px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../img/%d0%b1%d0%b5%d0%b7-%d0%b8%d0%bc%d0%b5%d0%bd%d0%b8-3.jpg") no-repeat center center;
	background-size: cover;
}

#u12228
{
	z-index: 127;
	width: 1055px;
	height: 132px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../img/%d0%b1%d0%b5%d0%b7-%d0%b8%d0%bc%d0%b5%d0%bd%d0%b8-4.jpg") no-repeat center center;
	background-size: cover;
}

#u12237
{
	z-index: 128;
	width: 94px;
	position: relative;
	margin-right: -10000px;
	margin-top: 151px;
	left: 479px;
}

#u12239
{
	position: absolute;
	width: 16px;
	height: 16px;
	background-color: #C4C4C4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u12239:hover
{
	border-color: #000000;
	background-color: #999999;
	margin: 0px;
}

#u12242
{
	position: absolute;
	width: 16px;
	height: 16px;
	background-color: #C4C4C4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	left: 26px;
}

#u12242:hover
{
	border-color: #000000;
	background-color: #999999;
	margin: 0px;
}

#u12241
{
	position: absolute;
	width: 16px;
	height: 16px;
	background-color: #C4C4C4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	left: 52px;
}

#u12241:hover
{
	border-color: #000000;
	background-color: #999999;
	margin: 0px;
}

#u12244
{
	position: absolute;
	width: 16px;
	height: 16px;
	background-color: #C4C4C4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	left: 78px;
}

#u12244:hover
{
	border-color: #000000;
	background-color: #999999;
	margin: 0px;
}

#u12239.PamphletThumbSelected,#u12242.PamphletThumbSelected,#u12241.PamphletThumbSelected,#u12244.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #C52727;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu6215
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u6215
{
	z-index: 162;
	border-color: #000000;
	background-color: #A72121;
	padding-bottom: 21px;
}

#u7341_align_to_page,#u6215_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	position: relative;
	left: -100px;
}

#u6217
{
	z-index: 165;
	width: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 176px;
}

#u6219
{
	z-index: 163;
	width: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 807px;
}

#u6215-bw
{
	z-index: 162;
	margin-top: 2px;
	height: 197px;
}

#u6576
{
	z-index: 167;
	border-style: none;
	border-color: transparent;
	background-color: #C16363;
	background-color: rgba(167, 33, 33, 0.7);
	-pie-background: rgba(167, 33, 33, 0.7);
}

#u6576_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	position: relative;
	left: -100px;
	padding-top: 24px;
	padding-bottom: 60px;
}

#u6224-4
{
	z-index: 173;
	width: 638px;
	min-height: 34px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	left: 293px;
	position: relative;
}

#buttonu6222
{
	z-index: 168;
	width: 268px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 13px;
	left: 475px;
	margin-top: 40px;
	position: relative;
}

#buttonu6222:hover
{
	background-color: #FEFEFE;
	background-color: rgba(255, 255, 255, 0.18999999999999995);
	width: 268px;
	min-height: 0px;
	margin: 40px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.18999999999999995);
}

#u6223-4
{
	z-index: 169;
	width: 240px;
	min-height: 24px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 15px;
}

#buttonu6222:hover #u6223-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 12px -10000px 0px 0px;
}

#buttonu6222.ButtonSelected #u6223-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 12px -10000px 0px 0px;
}

#buttonu6222:hover #u6223-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u6576-bw
{
	z-index: 167;
	height: 217px;
}

#u11917
{
	z-index: 177;
	border-style: none;
	border-color: transparent;
	background-color: #C52727;
	padding-bottom: 80px;
}

#u11917_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	position: relative;
	left: -100px;
	margin-bottom: -1px;
}

#u11928
{
	z-index: 191;
	width: 190px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 179px;
}

#pbuttonu11920
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 25px;
	margin-left: 422px;
}

#buttonu11920
{
	z-index: 180;
	width: 378px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 4px;
	position: relative;
}

#buttonu11920:hover
{
	background-color: #FEFEFE;
	background-color: rgba(255, 255, 255, 0.18999999999999995);
	width: 378px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(255, 255, 255, 0.18999999999999995);
}

#u11923-4
{
	z-index: 181;
	width: 306px;
	min-height: 24px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 13px;
}

#buttonu11920:hover #u11923-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 13px -10000px 0px 0px;
}

#buttonu11920.ButtonSelected #u11923-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 13px -10000px 0px 0px;
}

#buttonu11920:hover #u11923-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u11921
{
	z-index: 185;
	width: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 320px;
}

#buttonu11920:hover #u11921
{
	margin: 2px -10000px 0px 0px;
}

#buttonu11920.ButtonSelected #u11921
{
	margin: 2px -10000px 0px 0px;
}

#pu11926
{
	width: 0.01px;
	margin-left: 17px;
	margin-top: 15px;
}

#u11926
{
	z-index: 189;
	width: 160px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u11926_clip
{
	overflow: hidden;
	width: 160px;
	height: 60px;
}

#u11926_img
{
	margin-left: -6px;
	margin-right: -6px;
	margin-bottom: -7px;
}

#u11924
{
	z-index: 187;
	width: 160px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 191px;
}

#u11918
{
	z-index: 178;
	width: 218px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 856px;
}

#u11917-bw
{
	z-index: 177;
	margin-top: -1px;
	height: 161px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-bottom: 345px;
}

#page .verticalspacer
{
	clear: both;
}

