@font-face {
 font-family: pwscratchy; /* Имя шрифта */
 src: url(/fonts/pwscratchy.ttf); /* Путь к файлу со шрифтом */
}

.pluso-more {
    display: none !important;}
.news_date{
    float: right;
}
.portlet {
  //width: 258px;
}
.portlet {
  background: #fff;
  border: #e6e6e6 1px solid;
  border-radius: 4px;
  behavior: url('/core/css/PIE.htc');
  margin-bottom: 20px;
}
.portlet-title {
  position: relative;
  padding: 6px 10px;
  border-bottom: #ddd 1px solid;
  font-family: verdana, arial;
  font-size: 13px;
  color: #333;
  background: #eee;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#eeeeee');
  background: -moz-linear-gradient(#f6f6f6, #eee);
  background: -webkit-linear-gradient(#f6f6f6, #eee);
  background: -o-linear-gradient(#f6f6f6, #eee);
  background: -ms-linear-gradient(#f6f6f6, #eee);
  border-radius: 4px 4px 0 0;
  behavior: url('/core/css/PIE.htc');
}
.portlet-title span {
  position: relative;
  z-index: 2;
}
.portlet-title:after {
  display: block;
  content: '';
  margin: 0;
  padding: 0;
  height: 16px;
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  background: #fff;
  opacity: 0.3;
  border-radius: 4px 4px 0 0;
  behavior: url('/core/css/PIE.htc');
}
.portlet.interest .portlet-content {
  padding: 10px 10px;
}
.portlet-content {
  padding: 15px 10px 10px 10px;
}
.portlet.interest .portlet-content .book {
  padding: 8px 0;
  margin-bottom: 10px;
  border-bottom: #ddd 1px dashed;
}
.portlet.interest .portlet-content .book img {
  margin: 2px 8px 6px 0;
  border: #ccc 1px solid;
  width: 75px;
  float: left;
  color: transparent;
  font-size: 0;
  vertical-align: middle;
}
.portlet.interest .portlet-content .book .title {
  color: #999;
  font-size: 12px;
  line-height: 1.2;
  margin-bottom: 10px;
}
.portlet.interest .portlet-content .book .author {
  color: #999;
  font-size: 11px;
  margin-bottom: 6px;
}
.portlet.interest .portlet-content .book .short p {
  color: #666;
  font-size: 11px;
  margin-bottom: 6px;
}
.clear {
  clear: both;
}
.clear, .clearleft, .clearright, .clearboth {
  height: 1px !important;
  margin: 0 !important;
  font-size: 1px !important;
  overflow: hidden;
  position: relative;
  display: block;
}
.portlet.interest .portlet-content p.show_all {
  margin-bottom: 0;
  text-align: center;
}
#column-right {
    width: auto!important;
  /* float: none; */
  /* width: 215px; */
}
.news_background {
    background-color: #F5F5F5;
}
.short{
    background-color: #F5F5F5;
}
.header-mid {
  font-size: 34px;
  line-height: 0;
  text-align: center;
  color: #7DC343;
  margin-left: -120px;
  margin-bottom:20px;
}
.pluso{
    float: right;
}
.phone {
  font-size: 18px;
  color: #008cba;
  text-align: right;
}
.email{
    font-size: 18px;
    color: #008cba;
    text-align: right;
}
body{
    background: rgba(221, 221, 221, 0.4);
    background-size: cover;
}
.footer_text2{
    background: url('/img/gnomestockmailnew.png');
    background-size: cover;
    height: 100px;
    width: 100px;
    position: fixed;
    top: 50%;
    margin-top: -110.5px;
    right: 0px;
    opacity: 0.7;
}
.footer_text2:hover{
    opacity: 1;
}
.dialog_title {
    //text-transform: uppercase;
    //color: #f6f6f6;
    text-align: center;
    font-size: 32px;
    margin: 14px;
}
/*#ContactForm_name {
  height: 50px;
  width: 655px;
  font-size: 25px;
  color: #444444;
  margin: 20px 0 20px 40px;
  box-shadow: inset 0 0 16px rgba(0,0,0,0.3);
}*/
/*#ContactForm_name_em_ {
  margin-left: 40px;
  position: absolute;
  top: 156px;
}
#ContactForm_phone {
  height: 50px;
  width: 315px;
  font-size: 25px;
  color: #444444;
  margin: 10px 0 20px 40px;
  box-shadow: inset 0 0 16px rgba(0,0,0,0.3);
}
#ContactForm_phone_em_ {
  margin-left: 40px;
  position: absolute;
  top: 236px;
}
#ContactForm_email {
  height: 50px;
  width: 315px;
  font-size: 25px;
  color: #444444;
  margin: 10px 0 20px 20px;
  box-shadow: inset 0 0 16px rgba(0,0,0,0.3);
}
#ContactForm_email_em_ {
  margin-left: 381px;
  position: absolute;
  top: 236px;
}*/
label {
  /* color: #f6f6f6; */
  font-size: 25px;
  /* font-family: newscondensed; */
  /* line-height: 1; */
  //margin-left: 40px;
}
/*#ContactForm_message {
  width: 660px;
  height: 145px;
  margin-left: 40px;
  box-shadow: inset 0 0 16px rgba(0,0,0,0.3);
  resize: none;
  padding-top: 10px;
}*/
/*#ContactForm_message_em_ {
  margin-left: 40px;
  position: absolute;
  top: 430px;
}*/
/*.dialog_footer {
  background: #D2D2D2;
  font-size: 20px;
  font-family: newscondensed;
  line-height: 1;
  width: 100%;
  height: 56px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
}*/
.dialog_button{
  margin-left: 40px;
  margin-top: 10px;

}
/*.ui-dialog-titlebar-close:before {
  content: "Х";
  position: relative;
  top: -2px;
}*/

.navbar {
    background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: linear-gradient(#2F69A1, #2fa4e7 60%, #2F69A1);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
    /* border-bottom: 1px solid #178acc; */
    filter: none;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.navbar-default {
  background-color: #2fa4e7;
  border-color: #1995dc;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #1995dc;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #178acc;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #178acc!important;
  color: #ffffff;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a {
  background-image: none;
  background-image: -o-linear-gradient(top,#dbdbdb 0,#e2e2e2 100%);
  background-image: none;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
  box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
}
.required {
  color: black;
  
}
#contactDialog{
    overflow: hidden;
    //height: 437.3px!important;
}
#orderDialog{
    overflow: hidden;
}
.float_right{
    float: right;
}
.btn-primary {
  color: #ffffff;
  background-color: #F8BF6D;
  border-color: #F4960F;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #F4960F;
  border-color: #C37300;
}
.logo img {
  width: 70%;
  max-width: 250px;
}
.created_by {
  font-size: 16px;
  font-family: pwscratchy;
  color: #2FA4E7;
  /* text-align: center; */
}
.logo_footer {
    
    //text-align: center;
    
}
.thumbnail{
    float:left;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe!important;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe!important;
	box-shadow:inset 0px 1px 0px 0px #97c4fe!important;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0))!important;
	background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%)!important;
	background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%)!important;
	background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%)!important;
	background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%)!important;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%)!important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0)!important;
	background-color:#3d94f6!important;
	-moz-border-radius:4px!important;
	-webkit-border-radius:4px!important;
	border-radius:4px!important;
	border:1px solid #337fed!important;
	display:inline-block!important;
	cursor:pointer!important;
	color:#ffffff!important;
	font-family:Trebuchet MS!important;
	font-size:18px!important;
	padding:8px 25px!important;
	text-decoration:none!important;
	text-shadow:0px 1px 0px #1570cd!important;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6))!important;
	background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%)!important;
	background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%)!important;
	background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%)!important;
	background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%)!important;
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%)!important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0)!important;
	background-color:#1e62d0!important;
}
.myButton:active {
	position:relative!important;
	top:1px!important;
}
.navbar-default .navbar-nav > li > a {
  color: #f6f6f6;
}
.ui-dialog .ui-dialog-titlebar-close span {
  display: block;
  margin: -8px!important;
}