:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}
/*
The main layout
*/
.container {
  /*max-width: 940px;*/
}
body {
  padding-bottom: 40px;
  padding-top: 10px;
}
/*
The footer
*/
footer h4 {
  margin-bottom: 5px;
}
footer ul {
  padding-left: 14px;
}
/*
The catgory sidebar title
*/
.category_title {
  background-color: #FBFBFB;
  background-image: -moz-linear-gradient(center top, #ffffff, #f5f5f5);
  background-repeat: repeat-x;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  box-shadow: 0 1px 0 #FFFFFF inset;
  margin: 0 0 18px;
  padding: 7px 14px;
  list-style-type: none;
}
/* product_list - the side bar*/
.product_list .nav > li > a {
  display: block;
  padding: 0px 15px;
  position: relative;
}
.product_list {
  margin-top: -5px;
  margin-left: 5px;
  min-height: 500px;
}
.product_list ul {
  list-style: none;
  margin: 0;
}
.product_list > ul > li {
  padding: 8px 8px 8px 0px;
}
.product_list > ul > li + li {
  border-top: 1px solid #EEEEEE;
}
.product_list > ul > li > a {
  text-decoration: none;
}
.product_list > ul > li > a:hover {
  text-decoration: none;
  background: none;
}
.product_list > ul > li ul {
  display: none;
}
.product_list > ul > li a.active {
  font-weight: bold;
}
.product_list > ul > li a.active + ul {
  display: block;
}
.product_list > ul > li ul > li {
  padding: 5px 5px 0px 10px;
}
.product_list > ul > li ul > li > a {
  text-decoration: none;
  display: block;
}
.product_list > ul > li ul > li > a.active {
  font-weight: bold;
}
/*
The menu
*/
.menu_list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu_list > ul > li {
  padding: 8px 8px 8px 0px;
}
.menu_list > ul > li + li {
  border-top: 1px solid #EEEEEE;
}
/*
OpenCart custom styles
*/
.required {
  color: red;
  padding-left: 5px;
  float: right;
}
.product-info .required {
  padding-left: 0px;
  float: left;
}
.table-form .required {
  color: red;
  padding-left: 5px;
  float: none;
}
.table-form label {
  font-weight: normal;
}
.table-form tr {
  height: 50px;
}
.table-form td:first-child {
  font-weight: bold;
}
/*
The cart
*/
.cart-total {
  border-top: 1px solid #DDDDDD;
  overflow: auto;
  padding-top: 8px;
  margin-bottom: 15px;
}
.cart-total table {
  float: right;
}
.cart-total td {
  padding: 3px;
  text-align: right;
}
/* layout */
#container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
#column-left {
  float: left;
  width: 180px;
}
#column-right {
  float: right;
  width: 180px;
}
#content {
  min-height: 400px;
  margin-bottom: 25px;
}
#column-left + #column-right + #content,
#column-left + #content {
  margin-left: 195px;
}
#column-right + #content {
  margin-right: 195px;
}
/* The OpenCart button */
a.button,
input.button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}
a.button:focus,
input.button:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a.button:hover,
input.button:hover,
a.button:focus,
input.button:focus {
  color: #333333;
  text-decoration: none;
}
a.button:active,
input.button:active,
a.button.active,
input.button.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
a.button.disabled,
input.button.disabled,
a.button[disabled],
input.button[disabled],
fieldset[disabled] a.button,
fieldset[disabled] input.button {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
a.button:hover,
input.button:hover,
a.button:focus,
input.button:focus,
a.button:active,
input.button:active,
a.button.active,
input.button.active,
.open .dropdown-togglea.button,
.open .dropdown-toggleinput.button {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}
a.button:active,
input.button:active,
a.button.active,
input.button.active,
.open .dropdown-togglea.button,
.open .dropdown-toggleinput.button {
  background-image: none;
}
a.button.disabled,
input.button.disabled,
a.button[disabled],
input.button[disabled],
fieldset[disabled] a.button,
fieldset[disabled] input.button,
a.button.disabled:hover,
input.button.disabled:hover,
a.button[disabled]:hover,
input.button[disabled]:hover,
fieldset[disabled] a.button:hover,
fieldset[disabled] input.button:hover,
a.button.disabled:focus,
input.button.disabled:focus,
a.button[disabled]:focus,
input.button[disabled]:focus,
fieldset[disabled] a.button:focus,
fieldset[disabled] input.button:focus,
a.button.disabled:active,
input.button.disabled:active,
a.button[disabled]:active,
input.button[disabled]:active,
fieldset[disabled] a.button:active,
fieldset[disabled] input.button:active,
a.button.disabled.active,
input.button.disabled.active,
a.button[disabled].active,
input.button[disabled].active,
fieldset[disabled] a.button.active,
fieldset[disabled] input.button.active {
  background-color: #428bca;
  border-color: #357ebd;
}
a.button .badge,
input.button .badge {
  color: #428bca;
  background-color: #fff;
}
a.button {
  display: inline-block;
  text-decoration: none;
  padding: 6px 12px 6px 12px;
}
input.button {
  margin: 0;
  border: 0;
  height: 24px;
  padding: 0px 12px 0px 12px;
}
a.button:hover,
input.button:hover {
  background-position: 0px -24px;
}
.buttons {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  overflow: auto;
  padding: 6px;
  margin-bottom: 20px;
}
.buttons .left {
  float: left;
  text-align: left;
}
.buttons .right {
  float: right;
  text-align: right;
}
.buttons .center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/*
Styles in the header to keep the same as the first version. This can be deleted for other swatches
*/
.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}
.navbar-nav.navbar-right:last-child {
  margin-right: 0px;
}
.search_btn {
  background-color: #E86537;
  background-image: -moz-linear-gradient(center top, #ef784e, #dd4814);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  font-size: 11px;
  line-height: 16px;
  padding: 5px 9px;
  border-image: none;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
}
.navbar-search {
  float: left;
  margin-bottom: 0;
  padding: 8px 0;
  position: relative;
  margin-right: 11px;
}
.navbar-search .search_btn {
  padding: 5px 9px;
  margin-top: -1px;
}
.navbar-search .search-query {
  border: 1px solid #97310E;
}
.navbar-search .search-query {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
  border: 1px solid #111111;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.75);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  padding: 4px 9px;
  transition: none 0s ease 0s;
  border-radius: 14px;
  margin-bottom: 0 !important;
  margin-top: 2px;
}
.navbar-search .search-query ::-webkit-input-placeholder {
  /* WebKit browsers */

  color: #fff;
}
.navbar-search .search-query :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */

  color: #fff;
}
.navbar-search .search-query ::-moz-placeholder {
  /* Mozilla Firefox 19+ */

  color: #fff;
}
.navbar-search .search-query :-ms-input-placeholder {
  /* Internet Explorer 10+ */

  color: #fff;
}
.navbar-search .search-query ::input-placeholder {
  color: #fff;
}
.navbar-search input::-webkit-input-placeholder {
  color: #eeeeee;
}
/*
Remainain styles to make look neat
*/
input[type='text'],
input[type='password'],
textarea {
  background: #F8F8F8;
  border: 1px solid #CCCCCC;
}
.thumbnail .rating {
  position: absolute;
  top: 110px;
  left: 0px;
  width: 100%;
  text-align: center;
}
.center_text {
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
.customer_service {
  text-align: right;
}
.affiliate-form td:first-child {
  width: 150px;
}
.error {
  color: red;
}
.product-info .description span {
  font-weight: bold;
}
.logo img {
  width: 100%;
  max-width: 250px;
}
.tab-pane {
  overflow: hidden;
}
h1.product-title {
  margin-bottom: 0;
}
.product-info {
  margin-top: 40px;
}
/*Just for preview*/
#theme_switcher {
  top: 10px;
  left: 10px;
  position: fixed;
}
/*
Responsive styles
*/
@media (max-width: 1199px) {
  #theme_switcher {
    display: none;
  }
}
@media (max-width: 991px) {
  #column-right {
    width: 100%;
  }
  #header {
    position: relative;
  }
  .small-currency {
    position: absolute;
    bottom: 0;
    left: 15px;
  }
  #header #cart {
    left: auto;
    right: 0;
    top: -30px;
    min-width: 150px;
  }
  #header #cart .content {
    left: -8px;
  }
  #header #cart .heading {
    margin-right: 0;
  }
  #header #cart {
    position: absolute;
    top: -32px;
    right: 0;
    /*width: 100px;*/
  
  }
  #header {
    position: none;
  }
}
@media (max-width: 767px) {
  .logo img {
    margin-bottom: 10px;
  }
}
